/* ******************首页***************** */
.index-wrap{
    position: relative;
}
.brackbg{
    background: #000;
}
.goanswerbtn{
    display: inline-block;
    position: absolute;
    bottom: 3.37rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 5rem;
    height: 1.24rem;
}

/* ******************答题页***************** */
.answer-content{
    width: 6.87rem;
    height: 9.55rem;
    position: absolute;
    top: 1.84rem;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.answer-wrap{
    position: relative;
    z-index: 2;
}
.answer-num{
    position: absolute;
    top:1rem;
    left: 1.2rem;
    font-size: .3rem;
    color: #000;
    font-family: SourceHanSansCN-Bold;
    font-weight: bold;
}
.answer-num .nownum{
    color:#cc0e0e;
}
.answer-box{
    width: 5.4rem;
    position: absolute;
    top: 1.58rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: .3rem;
    color: #000;
    font-weight: bold;
}
.question{
    width: 5.4rem;
    height: 1.6rem;
    line-height: .54rem;
}
.dashline{
    width: 5.4rem;
    border-bottom: 1px dashed #613807;
    margin-top: .38rem;
}
.option{
    padding: .28rem .8rem .28rem .33rem;
    border-bottom: 1px dashed #613807;
}
.option.active{
    color: #ea0b0b;
    background: url(../images/on-option.png) right no-repeat;
    background-size: .7rem .82rem;
}
.answer-btn{
    width: 2.89rem;
    height:.8rem;
    position: absolute;
    bottom: .86rem;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.answer-btn .answer-btn-text{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: .3rem;
    color: #0e0e12;
    text-align: center;
    height: .8rem;
    line-height: .8rem;
    font-weight: bold;
}

.pt-page.active{
	display: block;
}
.pt-page {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	/*visibility: hidden;*/
	overflow-y: auto;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

/*页面切出的效果*/
.pt-page-rotateCarouselLeftOut {
	display: block;
	-webkit-transform-origin: 100% 50%;
	-webkit-animation: rotateCarouselLeftOut .6s both ease;
	-moz-transform-origin: 100% 50%;
	-moz-animation: rotateCarouselLeftOut .6s both ease;
	transform-origin: 100% 50%;
	animation: rotateCarouselLeftOut .6s both ease;
}

/*页面切入的效果*/
.pt-page-rotateCarouselLeftIn {
	-webkit-transform-origin: 0% 50%;
	-webkit-animation: rotateCarouselLeftIn .6s both ease;
	-moz-transform-origin: 0% 50%;
	-moz-animation: rotateCarouselLeftIn .6s both ease;
	transform-origin: 0% 50%;
	animation: rotateCarouselLeftIn .6s both ease;
}


/* iphone */
/*页面切出的效果*/
.pt-page-rotateCarouselLeftOut2 {
	display: block;
	-webkit-transform-origin: 100% 50%;
	-webkit-animation: rotateCarouselLeftOut 1.6s both ease;
	-moz-transform-origin: 100% 50%;
	-moz-animation: rotateCarouselLeftOut 1.6s both ease;
	transform-origin: 100% 50%;
	animation: rotateCarouselLeftOut 1.6s both ease;
}

/*页面切入的效果*/
.pt-page-rotateCarouselLeftIn2 {
	-webkit-transform-origin: 0% 50%;
	-webkit-animation: rotateCarouselLeftIn2 1.6s both ease;
	-moz-transform-origin: 0% 50%;
	-moz-animation: rotateCarouselLeftIn2 1.6s both ease;
	transform-origin: 0% 50%;
	animation: rotateCarouselLeftIn2 1.6s both ease;
}


@-webkit-keyframes rotateCarouselLeftOut {
	to { opacity: .3; -webkit-transform: translateX(-150%) scale(.4) rotateY(-65deg); }
}
@-moz-keyframes rotateCarouselLeftOut {
	to { opacity: .3; -moz-transform: translateX(-150%) scale(.4) rotateY(-65deg); }
}
@keyframes rotateCarouselLeftOut {
	to { opacity: .3; transform: translateX(-150%) scale(.4) rotateY(-65deg); }
}

@-webkit-keyframes rotateCarouselLeftIn {
	from { opacity: .3; -webkit-transform: translateX(200%) scale(.4) rotateY(65deg); }
}
@-moz-keyframes rotateCarouselLeftIn {
	from { opacity: .3; -moz-transform: translateX(200%) scale(.4) rotateY(65deg); }
}
@keyframes rotateCarouselLeftIn {
	from { opacity: .3; transform: translateX(200%) scale(.4) rotateY(65deg); }
}

@-webkit-keyframes rotateCarouselLeftIn2 {
	from { opacity: .3; -webkit-transform: translateX(80%) scale(.4) rotateY(65deg); }
}
@-moz-keyframes rotateCarouselLeftIn2 {
	from { opacity: .3; -moz-transform: translateX(80%) scale(.4) rotateY(65deg); }
}
@keyframes rotateCarouselLeftIn2 {
	from { opacity: .3; transform: translateX(80%) scale(.4) rotateY(65deg); }
}

.nochoice-box{
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    z-index: 11;
}
.nochoice-bg {
    width: 6.12rem;
    height: 4.19rem;
    position: absolute;
    top: 3.13rem;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.nochoice-text{
    position: absolute;
    top: 1.62rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: .3rem;
    color: #000;
    font-weight: bold;
    text-align: center;
}
.goonanswer-btn {
    width: 2.88rem;
    height: .74rem;
    position: absolute;
    bottom: .64rem;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.goonanswer-btn .goonanswer-btn-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: .3rem;
    color: #0e0e12;
    text-align: center;
    height: .74rem;
    line-height: .74rem;
    font-weight: bold;
}

/* 输昵称结果页 */
.snc-result{
    width: 4.09rem;
    height: 1.79rem;
    position: absolute;
    top:3.20rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
}
.snc-result .snc-result-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: .38rem;
    color: #df2d01;
    text-align: center;
    height:  1.79rem;
    line-height:  1.79rem;
    font-weight: bold;
}
.snc-desc{
    width: 3.97rem;
    height: .97rem;
    position: absolute;
    top: 5.25rem;
    left: 0;
    right: 0;
    margin: 0 auto;
	font-size: .28rem;
	line-height: .34rem;
	color: #070203;
}
.snc-input{
    width: 5rem;
    height: .66rem;
    position: absolute;
    top: 6.94rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid #070203;
}
.snc-input input{
    width: 100%;
    text-align: center;
    padding: .16rem .2rem;
    font-size: .34rem;
    color: #070203;
    font-weight: bold;
}
.snc-input input::placeholder{
    color: #e57324;
}
.snc-btn{
    width: 2.98rem;
    height: .8rem;
    position: absolute;
    top:8.49rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
}
.snc-btn .snc-btn-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: .3rem;
    color: #0e0e12;
    text-align: center;
    height: .8rem;
    line-height: .8rem;
    font-weight: bold;
}


/* 关注页 */
.gz-box{
    position: relative;
}
.ewm-box{
    width: 3.58rem;
    height: 3.58rem;
    position: absolute;
    top: 2.37rem;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.gz-text{
    position: absolute;
    top: 6.64rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center; 
    color: #fefefe;
    font-size: .34rem;
    font-weight: bold;  
}